.wk-container {
  position: relative;
  width: 360px;
  margin: auto;
  touch-action: manipulation;
  background: #000;
}

canvas {
  border-radius: 16px;
  background: #1c1c1e;
}

.wk-restart {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  background: #3390ec;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}
